<?xml version="1.0"?>

<configuration>

  <connectionStrings>
    <add name="JibBussiness" connectionString="Server=localhost\sqldev01;Database=JibBussiness;User Id=JIB; Password=Pa$$w0rd;" providerName="System.Data.SqlClient"/>
  </connectionStrings>


  <system.web>
    <compilation debug="false" targetFramework="4.0" />
  </system.web>

</configuration>
